*{
    margin: 0%;
    font-family: "poppins";
}
body{
   background-color: rgb(231, 224, 224);
}

header{
    height: 80px;
    background: linear-gradient(90deg,#525EDC,pink);
    margin: auto auto;
}
p{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
img{
    width: 12%;
    border-radius: 50%;
    display:block;
    margin: auto auto;
}



h1{
    text-align: center;
}
main{
    margin-top: 4%;
    height: 350px;
    width: 100%;
    display: flex;
    /*background-color: black;*/
    justify-content: space-around;

}
.sol_box{
   width:35%;
   background-color: blueviolet;
}


.sag_box{
width: 35%;
/*background-color: blueviolet;*/
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


.ic_box{
    width: 45%;
    height: 45%;
    border-radius: 10px;
    text-align: center;
   /* background-color: bisque;*/
}

footer{
    background-color: grey;
   height: 50px;
   width: 100%;
   margin-top: 82px;
   margin-left: auto ;
   margin-right: auto;
}
